.root {
  margin-top: 15px;
}

.select {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text {
  margin: 15px;
}

.buttons {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

